@import "helpers/var";
@import "modules/header";
@import "modules/inscrevase";
@import "modules/explore1";
@import "modules/explore2";
@import "modules/crie1";
@import "modules/crie2";
@import "modules/compartilhe1";
@import "modules/compartilhe2";
@import "modules/footer";
@import "../../node_modules/typeface-dosis/index.css";
@import "../../node_modules/typeface-cinzel-decorative/index.css";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
}

.box {
  padding: 10px;
  padding-bottom: 25px;
}

.header {
  grid-area: header;
  padding-bottom: 10px;
}

.logo{
  grid-column: 1;
  font-family: 'Cinzel Decorative', cursive;
  padding-left: 0.5em;
  text-decoration: none;
  color: #adadad;
}
.logo:hover{
  color: #fff;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0.6em;
  background-color: unset;
  @include radius();
  border: 1px solid #fff;
}

.header-inscrevase {
  background: blue url($pasta_imagens+$bg_1) no-repeat scroll left center;
}
.inscrevase {
  grid-area: inscrevase;
}
.perfil-inscrevase-form {
  grid-area: perfil-inscrevase-form;
}
.perfil {
  grid-area: perfil;
}
.inscrevase-form {
  grid-area: inscrevase-form;
}
.explore1 {
  grid-area: explore1;
}
.explore2 {
  grid-area: explore2;
}
.crie1 {
  grid-area: crie1;
}
.crie2 {
  grid-area: crie2;
}
.compartilhe1 {
  grid-area: compartilhe1;
}
.compartilhe2 {
  grid-area: compartilhe2;
}
.footer {
  grid-area: footer;
}

.wrapper {
  background-color: $cor_primaria;
  color: #444;
}

.wrapper {
  display: grid;
  grid-gap: 0.06em;
  grid-template-areas:
    "header"
    "inscrevase"
    "explore1"
    "explore2"
    "crie1"
    "crie2"
    "compartilhe1"
    "compartilhe2"
    "footer";
}

#btnTopo {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $cor_secundaria;
  color: $cor_primaria;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btnTopo:hover {
  background-color: #0765ca;
}