@import "../helpers/var";
@import "../helpers/mixins";

.inscrevase {
  display: grid;
  color: $cor_primaria;
  @include filtro-escurecido;

  .perfil-inscrevase-form {
    display: grid;
    grid-column: 1;
    grid-template-columns: 2fr 1fr;
    .perfil {
      grid-column: 1;
      @include custom-list;
    }
    .inscrevase-form {
      grid-column: 2;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      form {
        background-color: $cor_secundaria;
        max-width: 17em;
        padding: 0.6em;
        text-align: center;
        @include radius();
        opacity: 100;
        input {
          display: block;
          margin-bottom: 0.4em;
          @include form-input;
        }
        button {
          @include form-input;
          background-color: $cor_secundaria;
          border: 1px solid #fff;
          color: #fff;
          cursor: pointer;
        }
        button:hover{
          background-color: #0765ca;
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .inscrevase {
    .perfil-inscrevase-form {
      grid-template-columns: 0fr 1fr;
    }
    .perfil {
      display: none;
    }
  }
}
